<div>
    <form id="cookieForm" onsubmit="return false">
        <label>Email</label>
        <input type="email" name="email" id="email" />
        <label>Password</label>
        <input type="password" name="password" id="pass" />
        <button type="submit">Submit</button>
    </form>
    <button id="getCookies">Get Cookies</button>
</div>

<script src="static/js/pruebas.js"></script>