<div>
    <h1>Recuperacion de contraseña</h1>
    <form id="cookieForm" action="/api/session/recoveryPasswordMail" method="POST">
        <label>Email</label>
        <input type="email" name="email" />
        <button type="submit">Submit</button>
    </form>
</div>