<div>
    <h1>Register</h1>
    <form action="/api/session/register" method="POST">
        {{! <input type="text" name="username" placeholder="ingrese usuario" required>  }}
        <input type="text" name="firstName" placeholder="ingrese nombre" required />
        <input type="text" name="lastName" placeholder="ingrese apellido" required />
        <input type="text" name="email" placeholder="ingrese email" required />
        <input type="date" name="dateOfBirth" required />
        <input type="text" name="password" placeholder="ingrese password" required />
        <label>admin<input type="checkbox" name="admin" id="" /></label>
        <button>Enviar</button>
    </form>

</div>